<!DOCTYPE html>
<html ng-app="logViewerApp">
  <head>
    <meta charset="UTF-8">
    <title>Compact Log Viewer</title>

    <!-- BootStrap Dist CSS -->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Our CSS -->
    <link rel="stylesheet" href="../styles/app.css" type="text/css"/>

  </head>
  <body>

    <div ng-controller="LogViewerController as vm">

      <!-- No Log File is Open (Empty State) -->
      <drop-zone id="empty-state" ng-hide="vm.isLoading || vm.fileOpen">
          <button type="button" id="open-file" class="btn btn-primary" ng-click="vm.openFileClick()">Select or Drop a Log file</button>
      </drop-zone>

      <!-- Loader SVG animation -->
      <loader id="loader" ng-show="vm.isLoading"></loader>

      <!-- Log Is Open -->
      <div id="log-viewer" ng-show="vm.fileOpen">

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <!-- Search Box -->
              <log-search log-options="vm.logOptions" on-perform-search="vm.performSearch()"></log-search>
            </div>
          </div>

          <div class="row">
              <div class="col-md-8">
                <!-- Pagination -->
                <pagination page-number="vm.logs.pageNumber" total-pages="vm.logs.totalPages" on-change="vm.changePageNumber(pageNumber)"></pagination>

                <!-- LogViewer Search Results -->
                <log-items logitems="vm.logs" log-options="vm.logOptions" on-perform-search="vm.performSearch()"></log-items>

                <!-- Pagination -->
                <pagination page-number="vm.logs.pageNumber" total-pages="vm.logs.totalPages" on-change="vm.changePageNumber(pageNumber)"></pagination>
              </div>

              <div class="col-md-4">
                <!-- Error Count -->
                <error-count errors="vm.errorCount" on-error-click="vm.errorCountClick()"></error-count>

                <!-- Log Types -->
                <log-types logtypes="vm.logTypes" chartdata="vm.chartData" chartlabels="vm.chartLabels" chartcolors="vm.chartColors" on-log-type-click="vm.logTypeClick(logtype)"></log-types>

                <!-- Common Templates -->
                <message-templates templates="vm.messageTemplates" on-template-click="vm.messageTemplateClick(template)"></message-templates>
              </div>
          </div>

        </div>

      </div>
    </div>

    <script>
      require('../dist/renderer/app-angular.js');

      // require('../node_modules/chart.js/dist/Chart.min.js');
      // require('../node_modules/angular-chart.js/dist/angular-chart.min.js');

      require('../dist/renderer/resources/logviewer.resource.js');

      require('../dist/renderer/components/dropzone.js');
      require('../dist/renderer/components/loader.js');
      require('../dist/renderer/components/errorcount.js');
      require('../dist/renderer/components/messagetemplates.js');
      require('../dist/renderer/components/logtypes.js');
      require('../dist/renderer/components/logitems.js');
      require('../dist/renderer/components/logsearch.js');
      require('../dist/renderer/components/pagination.js');
    </script>

  </body>
</html>