body {
    background-color:#eee;
}

#empty-state {
    border: 4px dashed #bbb;
    background-color: #f6f6f6;
    border-radius: 2px;
    margin:10px;
    padding:20px;
    display:flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 20px);
    box-sizing: border-box;
    flex-direction: column;
}

#empty-state.is-dragover {
    background-color: #e6e4e4;
}

#loader {
    background-color: #f6f6f6;
    border-radius: 2px;
    margin:10px;
    padding:20px;
    display:flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 20px);
    box-sizing: border-box;
    flex-direction: column;
}

#log-viewer {
    padding:10px 0;
}

#error-count-container {
    background:#f26666;
    color:#a52020;
    text-align: center;
    cursor: pointer;
}


message-templates tr {
    cursor:pointer;
}


.square {
    height:12px;
    width:12px;
    display: inline-block;
    vertical-align: middle;
}

.square.verbose {
    background-color:#6c757d;
}

.square.debug {
    background-color:#20c997 ;
}

.square.info {
    background-color:#17a2b8;
}

.square.warning {
    background-color:#ffc107;
}

.square.error {
    background-color:#fd7e14;
}

.square.fatal {
    background-color:#dc3545;
}