<svg width="200px" height="200px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
    <g transform="rotate(287.844 50 50)">
        <path d="M50 15A35 35 0 1 0 74.787 25.213" fill="none" stroke="#bbb" stroke-width="12"></path>
        <path d="M49 3L49 27L61 15L49 3" fill="#bbb"></path>
        <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform>
    </g>
</svg>
<div>Loading</div>