<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">Logs</h5>
        <div class="input-group mb-3">
            <input type="text" ng-model="vm.logOptions.filterExpression" class="form-control form-control-lg" placeholder="Search logs&hellip;"/>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" ng-click="vm.clear(vm.logOptions)">Clear</button>
                <button class="btn btn-primary" type="button" ng-click="vm.search(vm.logOptions)">Search</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 offset-md-8">
                <select ng-model="vm.logOptions.sortOrder" ng-change="vm.search(vm.logOptions)" class="custom-select custom-select-lg">
                    <option value="Ascending">Ascending</option>
                    <option value="Descending">Descending</option>
                </select>
            </div>
        </div>

    </div>
</div>