<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">Logs</h5>
        <div class="input-group mb-3">
            <input type="text" ng-model="vm.logOptions.filterExpression" class="form-control form-control-lg" type="text" placeholder="Search logs&hellip;"/>
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" ng-click="vm.search(vm.logOptions)">Search</button>
            </div>
        </div>
    </div>
</div>