<script type="text/ng-template" id="nestedTable">
    <table class="table nested-prop">
        <tbody>
            <tr ng-if="val.properties" ng-repeat="prop in val.properties">
                <th>{{prop.name}}</th>
                <td ng-if="prop.value.value !== undefined">{{prop.value.value}}</td>
                <td ng-if="prop.value.properties || prop.value.elements" ng-init="val = prop.value" ng-include="'nestedTable'"></td>
            </tr>
            <tr ng-if="val.elements" ng-repeat="element in val.elements">
                <td ng-if="element.value !== undefined">{{element.value}}</td>
                <td ng-if="element.properties || element.elements" ng-init="val = element" ng-include="'nestedTable'" ></td>
            </tr>
        </tbody>
    </table>
</script>

<div class="card">
    <div class="card-body">

        <!-- No Results -->
        <div ng-show="vm.logitems.totalItems === 0" class="text-center">
            No Results
        </div>

        <table class="table table-hover" ng-show="vm.logitems.totalItems > 0">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" style="width:130px;">Timestamp</th>
                    <th scope="col">Level</th>
                    <th scope="col">Message</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="log in vm.logitems.items" ng-click="log.open = !log.open" class="item" ng-class="{'open': log.open}">
                    <td class="timestamp">{{ log.timestamp | date:'medium' }}</td>
                    <td><span class="badge" ng-class="log.level | lowercase">{{ log.level }}</span></td>
                    <td>{{ log.renderedMessage }}</td>
                </tr>
                <tr ng-repeat-end="" ng-if="log.open" class="details">
                    <td colspan="3">

                        <div ng-if="log.exception" class="exception">
                            <h3>Exception</h3>
                            <p>{{ log.exception }}</p>
                        </div>

                        <h3>Properties</h3>
                        <table class="table properties">
                            <tbody>
                                <tr>
                                    <th>Timestamp</th>
                                    <td>{{ log.timestamp }}</td>
                                </tr>
                                <tr>
                                    <th>@MessageTemplate</th>
                                    <td>{{ log.messageTemplateText }}</td>
                                </tr>
                                <tr ng-repeat="(key, val) in log.properties">
                                    <th>{{key}}</th>
                                    <td ng-switch on="key">
                                        <a ng-switch-when="HttpRequestNumber" ng-click="vm.findItem(key, val.value)" title="Find Logs with Request ID" class="btn btn-primary">{{val.value}}</a>
                                        <a ng-switch-when="SourceContext" ng-click="vm.findItem(key, val.value)" title="Find Logs with Namespace" class="btn btn-primary">{{val.value}}</a>
                                        <a ng-switch-when="MachineName" ng-click="vm.findItem(key, val.value)" title="Find Logs with Machine Name" class="btn btn-primary">{{val.value}}</a>
                                        <a ng-switch-when="RequestUrl" ng-href="{{val.value}}" target="_blank" rel="noopener" title="Open">{{val.value}}</a>
                                        <div ng-switch-default>
                                            <span ng-if="val.value !== undefined">{{val.value}}</span>
                                            <div ng-if="val.properties || val.elements" ng-include="'nestedTable'"></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>
</div>
