<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">Message Templates</h5>
        <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Template</th>
            <th scope="col">Count</th>
            </tr>
        </thead>
        <tbody id="templates-table">
            <tr ng-repeat="template in vm.templates" ng-click="vm.templateClick(template)">
                <td>{{ template.messageTemplate }}</td>
                <td>{{ template.count }}</td>
            </tr>
        </tbody>
        </table>
    </div>
</div>