name: Release Drafter
on:
  push:
    branches: [dev]

jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    steps:
      # Drafts your next Release notes as Pull Requests are merged into "dev"
      - uses: release-drafter/release-drafter@v5    
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
